.user__row {
    /* display: flex; */
    cursor: pointer;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid white;
}

.user__row:last-child {
    border-bottom: unset;
}

.user__row-item {
    width: 20%;
    padding: 15px 20px;
}

/* .user__row-item:last-child {
    text-align: end;
} */