.user__row {
    cursor: pointer;
    padding: 15px 20px;
    border-bottom: 1px solid white;
    transition: .3s;
}

.user__row:last-child {
    border-bottom: unset;
}

.user__row:hover {
    background-color: rgb(60, 106, 107);
}

.user__row-item {
    width: 20%;
    padding: 15px 20px;
}