.app {
  margin: 0 auto;
  max-width: 1000px;

}

@media (max-width: 1200px) {
  .app {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.user__table {
  width: 100%;
  border-collapse: collapse;
}

.table__wrapper {
  border-radius: 8px;
  overflow: hidden;
}